<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body ng-app="catalogApp">
    <div>
        <a href="#/category">Category</a>, <a href="#/products">Product</a>
    </div>
    <hr/>
    <div ng-view>

    </div>


    <script src="/angularCatalog/libs/angular-1.2.15/angular.min.js"></script>
    <script src="/angularCatalog/libs/angular-1.2.15/angular-route.js"></script>
    <script src="/angularCatalog/scripts/Controller/mainController.js"></script>
    <script src="/angularCatalog/scripts/app.js"></script>
</body>
</html>